*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #030926;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 80px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 52px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p:first-of-type {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
  padding-left: 0;
}

p a {
  color: #dc5ecc;
  text-decoration: none;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.title {
  position: relative;
  height: 250px;
  width: 100%;
  margin: 0 auto;
  line-height: 250px;
}

.title .base,
.title .highlighted {
  width: 100%;
  height: 100%;
  margin: 0;
}

.title .base {
  color: #1c2c50;
}

.title .highlighted {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(14% at 30% 50%);
  clip-path: circle(14% at 30% 50%);
  background: #1c2c50;
  color: white;
}

.image-container {
  position: relative;
}

.base {
  position: relative;
}

.image-container .item {
  position: absolute !important;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}

.image-container .item.active {
  opacity: 1;
}

.street-view {
  margin-bottom: 80px;
}

.street-view img {
  width: 100%;
}

.camera-list {
  position: relative;
  z-index: 1;
  margin-bottom: -120px;
  margin-top: 50px;
}

.camera-list h3 {
  text-align: center;
}

.camera-list input {
  display: none;
}

.camera-list li {
  width: 250px;
  text-align: center;
}

.camera-list li p {
  height: 175px;
  font-size: 15px;
  text-align: left;
}

.camera-list label:before {
  position: relative;
  top: 5px;
  display: inline-block;
  content: '';
  width: 22px;
  height: 22px;
  background: transparent;
  border: 1px solid #dc5ecc;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(220,94,204,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(220,94,204,1);
  box-shadow: 0px 0px 15px 0px rgba(220,94,204,1);
}

.camera-list input:checked + label:before {
  background: #dc5ecc;
}

.camera-list li:first-of-type label:before {
  right: 15px;
}

.map {
  position: relative;
  width: 1400px;
  max-width: 90%;
  margin: 80px auto;
}

.map img {
  width: 100%;
}

.map .image-container {
  right: 3.5714%;
}

.map .image-container .item {
  transition: opacity .7s;
}

.map-description {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 3.5714%;
  width: 370px;
  height: 210px;
  margin-top: 0;
  background: #030926;
  padding-top: 10px;
  text-align: center;
}

.map-description > li {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0 10px;
  transition: opacity .7s;
}

.map-description > li.active {
  z-index: 1;
  opacity: 1;
}

.map-description h3 {
  min-height: 27px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.map-description > p {
  text-align: left;
}

.signs {
  max-width: 350px;
  margin: 5px auto 0;
}

.signs li {
  display: flex;
  align-items: center;
}

.signs li span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.signs li:nth-of-type(1) span {
  background: #c64a90;
}

.signs li:nth-of-type(2) span {
  background: #f1d64f;
}

.signs li:nth-of-type(3) span {
  background: #7fbff8;
}

.map-description .call-to-action {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.map-description .call-to-action p:first-of-type {
  margin-bottom: 0;
}

.map-description .call-to-action p:last-of-type {
  margin-top: 0;
}

.map-description .call-to-action button {
  height: 40px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.map-description .call-to-action button img {
  width: 16px;
}

.signs .call-to-action {
  margin-top: 18px;
}

.call-to-action img {
  width: 14px;
}

.vote {
  position: relative;
  width: 100%;
  margin: 50px 0;
}

.vote ul {
  display: flex;
  flex-wrap: wrap;
}

.vote ul li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.vote ul input {
  display: none;
}

.vote ul label,
.vote .results li > div {
  display: block;
  width: 92px;
  height: 32px;
  background: transparent;
  border: 1px solid #733a84;
  color: #666666;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  transition: all .5s;
}

.vote .results li > div {
  border: 1px solid #DC5DCA;
}

.vote .results li {
  width: 92px;
  height: 32px;
}

.vote ul input:checked + label,
.vote .results li > div {
  background: #733a84;
  color: #666666;
}

.vote .results li {
  position: relative;
  background: #ecceee;
}

.vote .result-text {
  height: 33px;
  text-align: center;
  width: 150px;
}

.vote .vote-list {
  display: none;
  opacity: 0;
  transition: opacity .5s;
}

.vote .vote-list.active {
  z-index: 1;
  display: flex;
  opacity: 1;
}

.result-text.user-result {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  left: calc(50% - 75px);
  top: -40px;
  background: url('images/arrow_down.svg') bottom center no-repeat;
  background-size: 14px 7px;
  width: 150px;
}


.result-text.average-result {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  left: calc(50% - 75px);
  bottom: -40px;
  background: url('images/arrow_up.svg') top center no-repeat;
  background-size: 14px 7px;
  width: 150px;
}

.vote-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  max-width: 1000px;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
  margin: 25px auto 80px;
}

hr {
  background: #666;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 30px auto;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.facebook img {
  height: 35px;
}

.tumblr img {
  height: 33px;
}

.twitter img {
  height: 25px;
}

footer {
  background: #02061a;
  padding: 40px 0;
}


.footer-logo {
  display: block;
  margin-bottom: 50px;
}

.vote .results li > div,
.vote .results li > div.vote-5 {
  background: #fdf7fc;
}

.vote .results li > div.vote-10 {
  background: #FBEFFA;
}

.vote .results li > div.vote-15 {
  background: #FAE7F7;
}

.vote .results li > div.vote-20{
  background: #F8DFF4;
}

.vote .results li > div.vote-25 {
  background: #F6D6F2;
}

.vote .results li > div.vote-30 {
  background: #F4CEEF;
}

.vote .results li > div.vote-35 {
  background: #F3C6ED;
}

.vote .results li > div.vote-40 {
  background: #F1BEEA;
}

.vote .results li > div.vote-45 {
  background: #EFB6E7;
}

.vote .results li > div.vote-50 {
  background: #EDAEE5;
}

.vote .results li > div.vote-55 {
  background: #ECA6E2;
}

.vote .results li > div.vote-60 {
  background: #EA9EDF;
}

.vote .results li > div.vote-65 {
  background: #E896DD;
}

.vote .results li > div.vote-70 {
  background: #E68DDA;
}

.vote .results li > div.vote-75 {
  background: #E585D8;
}

.vote .results li > div.vote-80 {
  background: #E37DD5;
}

.vote .results li > div.vote-85 {
  background: #E175D2;
}

.vote .results li > div.vote-90 {
  background: #DF6DD0;
}

.vote .results li > div.vote-95 {
  background: #DE65CD;
}

.vote .results li > div.vote-100 {
  background: #DC5DCA;
}

.recommended li {
  max-width: 250px;
}

.recommended a,
.recommended h3 {
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.recommended img {
  width: 100%;
}

@media (max-width: 999px) {
  .inline {
    flex-wrap: wrap;
  }

  .title {
    width: 100%;
    height: auto;
    line-height: 1.5;
    margin: 25px 0;
  }

  .title h1 {
    font-size: 32px;
  }

  .title .base {
    color: white;
  }

  .highlighted {
    display: none;
  }

  .camera-list {
    display: block;
    margin-bottom: 0;
  }

  .camera-list li {
    width: 100%;
    margin-bottom: 25px;
  }

  .camera-list p {
    height: auto;
  }

  .camera-list li p {
    height: auto;
  }

  .camera-list img {
    width: 150px;
    text-align: center;
  }

  .camera-list label {
    display: block;
  }

  .map {
    width: 100%;
    max-width: 100%;
    margin: 25px auto;
  }

  .map .image-container {
    right: 5%;
  }

  .map-description {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
  }

  .map .image-container img {
    width: 150%;
  }

  .map-description .call-to-action > img {
    display: none;
  }

  .map-description .call-to-action button {
    height: 60px;
    width: 60px;
  }

  .signs {
    min-width: 300px;
    width: 350px;
  }

  .vote {
    height: 180px;
  }

  .vote ul {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .vote ul li {
    margin-bottom: 10px;
  }

  .vote-description {
    height: auto;
  }

  .video iframe {
    width: 100%;
    height: 300px;
  }

  .recommended ul {
    flex-wrap: wrap;
  }

  .recommended li {
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
  }
}